                </dl>
            </div>
        </div>
        <div id="sidebar">
        </div>
        <div id="extra">
        </div>
        <div id="footer">

            <span id="design-by">CSS Design (mostly) by <a href="http://smallpark.org">Smallpark Studios<!-- Thank you for keeping this on --></a></span> 
            Copyright &copy; Jonathan Stott 2010.
        </div>
    </div>
</body>
  <script src="/_utils/script/json2.js"></script>
  <script src="/_utils/script/jquery.js"></script>
  <script src="/_utils/script/jquery.couch.js"></script>
  <script src="<%= assets %>/vendor/couchapp/jquery.couch.app.js"></script>
  <script src="<%= assets %>/vendor/couchapp/jquery.couch.app.util.js"></script>
  <script src="<%= assets %>/script/app.js"></script>
</html>

<!-- Design by Smallpark.org. Released as open source. -->
