<script type="text/javascript" charset="utf-8">
    $(function () {
        $.couch.app(function(app) {
            app.docForm("form#new-post", {
                id : <%= docid %>,
                fields : [ "name", "body" ],
                template : {
                    type : "page",
                    format: "textile",
                    author: User._current_user.name
                },
                onLoad : function(doc) {
                    if (doc._id) {
                        $('form#new-post h2').html('Editing <a href="../page/'+doc._id+'">'+doc._id+'</a>');
                    }
                },
                beforeSave : function(doc) {
                   if (!doc.created_at) {
                        doc.created_at = new Date();
                        }

                    doc._id = doc.name;
                },
                success: function(resp) {
                    $('form#new-post h2').html('Editing <a href="../page/'+resp.id+'">'+resp.id+'</a>');
                    $("#saved").text("Saved _rev: "+resp.rev).fadeIn(500).fadeOut(3000);
                }
            });
       });
  });
</script>
<!--
  $.CouchApp(function(app) {
    app.loggedInNow(function(login) {
      // w00t, we're logged in (according to the cookie)
      $("#header").prepend('<span id="login">'+login+'</span>');
      // setup CouchApp document/form system, adding app-specific callbacks
      // rename docForm?
      //var B = new Blog(app);
      // thin controller - move to B?

      var postForm = app.docForm("form#new-post", {
        fields : ["name", "body"],
        template : {
          type : "post",
          format : "markdown",
          author : login
        },
        onLoad : function(doc) {
          if (doc._id) {
            $('h2').html('Editing <a href="../page/'+doc._id+'">'+doc._id+'</a>');
            $('#preview').before('<input type="button" id="delete" value="Delete Page"/> ');
            $("#delete").click(function() {
              postForm.deleteDoc({
                success: function(resp) {
                  $("h1").text("Deleted "+resp.id);
                  $('form#new-post input').attr('disabled', true);
                }
              });
              return false;
            });
          }
          $('label[for=body]').append(' <em>with '+(doc.format||'html')+'</em>');
        },
        beforeSave : function(doc) {
          if (!doc.created_at) {
            doc.created_at = new Date();
          }
        },
        success : function(resp) {
          $("#saved").text("Saved _rev: "+resp.rev).fadeIn(500).fadeOut(3000);
        }
      });  

      $("#preview").click(function() {
        var doc = postForm.localDoc();
        var html = B.formatBody(doc.body, doc.format);
        $('#show-preview').html(html);
        // scroll down
        $('body').scrollTo('#show-preview', {duration: 500});
      });
    }, function() {
        app.attemptLogin(
                function(login) { alert(login); location.reload(true);  },
                function() { alert('Auth failed!');  } 
                );
    });
  });
</script>
-->
