<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title><%= pageTitle %> - <%= wikiName %></title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
<link href="<%= assets %>/style/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id="container">
        <div id="navigation">
            <ul>
                <li><a href="<%= editPagePath %>">Edit</a></li>
                <li><a href="#">Attachments</a></li>
                <li><a href="<%= newPagePath %>">New</a></li>
                <li><a href="#">All</a></li>
                <li><a href="#">Recent</a></li>
            </ul>
        </div>
        <div id="header">
            <h1><%= wikiName %></h1>
            <h2>for all your random note needs</h2>
        </div>
        <div id="wrapper">
            <div id="content">
            <div style="float: right;"><a href="#">Login</a></div>
                <h1><%= pageTitle %></h1>
                <form id="new-post" action="new.html" method="post">
                    <p><label>Name</label>
                    <input type="text" size="50" name="name" value="<%= pageName %>"></p>
                    <p><label for="body">Body</label>
                    <textarea name="body" rows="28" cols="80"><%= content  %></textarea></p>
                    <p>
                    <input id="preview" type="button" value="Preview"/>
                    <input type="submit" value="Save &rarr;"/> <span id="saved" style="display:none;">Saved</span>
                    </p>
                </form>
                <div id="show-preview"></div>
            </div>
        </div>
        <div id="sidebar">
        </div>
        <div id="extra">
        </div>
        <div id="footer">

            <span id="design-by">CSS Design by <a href="http://smallpark.org">Smallpark Studios<!-- Thank you for keeping this on --></a></span> 
            Copyright &copy; Jonathan Stott 2010.
        </div>
    </div>

</body>
  <script src="/_utils/script/json2.js"></script>
  <script src="/_utils/script/jquery.js"></script>
  <script src="/_utils/script/jquery.couch.js"></script>
  <script src="<%= assets %>/vendor/couchapp/jquery.couch.app.js"></script>
  <script src="<%= assets %>/script/app.js"></script>
<script type="text/javascript" charset="utf-8">
    $(function () {
        $.couch.app(function(app) {
            app.docForm("form#new-post", {
                id : <%= docid %>,
                fields : [ "name", "body" ],
                template : {
                    type : "page",
                    format: "textile",
                    author: User._current_user.name
                },
                onLoad : function(doc) {
                    if (doc._id) {
                        $('#content h1').html('Editing <a href="../page/'+doc._id+'">'+doc._id+'</a>');
                    }
                },
                beforeSave : function(doc) {
                   if (!doc.created_at) {
                        doc.created_at = new Date();
                        }
                    doc.updated_at = new Date();

                    doc._id = doc.name;
                },
                success: function(resp) {
                    $('#content h1').html('Editing <a href="../page/'+resp.id+'">'+resp.id+'</a>');
                    $("#saved").text("Saved _rev: "+resp.rev).fadeIn(500).fadeOut(3000);
                }
            });
       });
  });
</script>

</html>

<!-- Design by Smallpark.org. Released as open source. -->
