<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title><%= pageTitle %> - <%= wikiName %></title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
<link href="<%= assets %>/style/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id="container">
        <div id="navigation">
            <ul>
                <li><a href="<%= editPagePath %>">Edit</a></li>
                <li><a href="#">Attachments</a></li>
                <li><a href="<%= newPagePath %>">New</a></li>
                <li><a href="<%= allPath %>">All</a></li>
                <li><a href="<%= recentPath %>">Recent</a></li>
            </ul>
        </div>
        <div id="header">
            <a href="<%= homePath %>"><h1><%= wikiName %></h1></a>
            <h2><%= description %></h2>
        </div>
        <div id="wrapper">
            <div id="content">
                <div id="account">
                    <div id='user'>Hello <span class='name'><%= userName %></span> | <a href="#" class='logout'>Logout</a></div>
                    <div class='form'>
                        <form id='loginform' action='login'>
                            <label for='username'>Username: </label><br /><input name='username' type='text' value='' /><br />
                            <label for='password'>Password: </label><br /><input name='password' type='password' value='' /><br />
                            <input value='Login!' type='submit' />
                        </form>
                        <a href="#" class='login'>Login</a>
                    </div>
                </div>
                <h1><%= pageTitle %></h1>
                <%= content %>
            </div>
        </div>
        <div id="sidebar">
        </div>
        <div id="extra">
        </div>
        <div id="footer">

            <span id="design-by">CSS Design (mostly) by <a href="http://smallpark.org">Smallpark Studios<!-- Thank you for keeping this on --></a></span> 
            Copyright &copy; Jonathan Stott 2010.
        </div>
    </div>
</body>
  <script src="/_utils/script/json2.js"></script>
  <script src="/_utils/script/jquery.js"></script>
  <script src="/_utils/script/jquery.couch.js"></script>
  <script src="<%= assets %>/vendor/couchapp/jquery.couch.app.js"></script>
  <script src="<%= assets %>/script/app.js"></script>
</html>

<!-- Design by Smallpark.org. Released as open source. -->
